.right-5 {
    padding-left: 5%;
}

.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact {
    background-color: gray;
    color: white !important;
    border-radius: 30px 30px 30px 30px;
}

@media only screen and (min-width: 768px) {
    .right {
    padding-left: 42%;
    }
}

@media only screen and (min-width: 1380px) {
    .right {
    padding-left: 59%;
    }
}

.containerInicio {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.btn-cotiza {
    border-radius: 30px 30px 30px 30px;
}

.img-generica {
    width: 95%;
}

.container {
    margin-left: 5%;
}

.pad-8 {
    padding-top: 8%;
}

.containerValores {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    align-items: center;
    text-align: center;
}

.card-valores {
    box-shadow: inset;
    border-style: groove;
    border-radius: 30px 30px 30px 30px;
    padding: 0 !important;
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
}

.img-generica-card {
    width: 85%;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.containerQueHacemos {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.titleQueHacemos {
    margin-bottom: 3rem;
}

.textQueHacemos {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.imgQueHacemos {
    width: 85%;
    height: 100%;
}
