* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.right-5 {
    padding-left: 5%;
}

.img-logo {
    width: 50%;
}

.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

.nav-item a:hover {
    color: #1F2F9B !important;
    text-decoration: underline !important;
}

.contact {
    background-color: #1F2F9B;
    color: white !important;
    border-radius: 30px 30px 30px 30px;
}

.btn-cotiza {
    background-color: #1F2F9B;
}

.collapse ul {
    margin-top: 0%;
}

@media only screen and (min-width: 992px) {
    .right {
    padding-left: 8%;
    }
}

@media only screen and (min-width: 1100px) {
    .right {
    padding-left: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    .right {
    padding-left: 40%;
    }
}

@media only screen and (min-width: 1380px) {
    .right {
    padding-left: 59%;
    }
}

@media only screen and (max-width: 768px) {
    /*.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-wrap: nowrap;
    }*/

    .container-fluid a {
        max-width: 100px;
    }*/

    .right-5 {
        padding-left: 0%;
    }

    .img-logo {
        width: 150%;
        margin-left: 80%;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39,47,155, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    .custom-toggler.navbar-toggler {
        border-color: transparent !important;
    }
}

/* Sercción inicio */ 
.containerInicio {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.titulo-principal {
    font-weight: bold;
    font-size: 250%;
    color: #5D5D5D;
}

.btn-redondeado {
    border-radius: 30px 30px 30px 30px;
}

.ilustracion1 {
    width: 95%;
}

.pad-8 {
    padding-top: 8%;
}

/* Vista mobile */

@media only screen and (max-width: 768px) {
    .containerInicio {
        margin-top: 18%;
    }

    .titulo-principal {
        font-size: 200%;
        margin-bottom: 5%;
    }

    .btn-cotiza {
        margin-left: 20%;
        margin-bottom: 10%;
    }

    .ilustracion1 {
        width: 70%;
        margin-left: 17%;
    }
}

/* Fin sección incio*/

/* Whatsapp icon */

.whatsapp-icon {
	position:fixed;
	width: 60px;
	height: 60px;
	bottom: 5%;
	right: 3%;
	color: #5D5D5D;
	border-radius: 50%;
	text-align: center;
    font-size: 200%;
    z-index: 100;
}

.whatsapp-icon-float {
	margin-top: 12%;
    margin-left: 5%;
}

/* End whatsapp icon */

/* Sección valores */

.containerValores {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
}

.subtitulo-superior {
    color: #1F2F9B;
    font-weight: bold;
}

.titulo-seccion {
    color: #5D5D5D;
}

.texto-seccion {
    margin-bottom: 5%;
}

.card-valores {
    border-radius: 10px 10px 10px 10px !important;
    padding: 0 !important;
    width: 23% !important;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: none;
}

.card-title {
    font-weight: bold;
}

.texto-card {
    margin-top: 5%;
}

.img-generica-card {
    width: 60px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slider-valores {
    display: none;
}

/* Vista mobile */

@media only screen and (max-width: 768px) {
    .cards-valores {
        display: none;
    }

    .slider-valores {
        display: inline-block;
    }
}

/* Carousel valores */

.card-valores-slider {
    border-radius: 10px 10px 10px 10px !important;
    padding: 0 !important;
    width: 80% !important;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: none;
}

.img-valores {
    width: 100px !important;
    height: 200px;
    margin: 0 !important
}

/* Cards carousel valores */

.valores .valores-item {
    box-sizing: content-box;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
    padding-top: 5%;
    /*min-height: 320px;*/ 
}

.valores .valores-item .valores-img {
    width: 90px;
    height: 90px;
    margin: 0 auto; 
}

.valores .valores-item h6 {
    padding-top: 5%;
}

.valores .valores-item p {
    margin: 0 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 5%;
    /*border-radius: 6px;*/
}

.valores .owl-nav, .valores .owl-dots {
    margin-top: 5px;
    text-align: center; 
}

.valores .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important; 
}

.valores .owl-dot.active {
    background-color: #149ddd !important; 
}

.owl-carousel .owl-item img {
    display: inline-block;
}

@media (max-width: 767px) {
    .valores {
        margin: 30px 10px; 
    }
}

/* Fin sección valores */

/* Sección ilustración */

.containerIlustracion {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
}

.ilustracion {
    width: 70%;
}

@media only screen and (max-width: 768px) {
    .ilustracion {
        width: 70%;
        margin-left: 12%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/* Fin sección ilustración */

/* Sección servicios */

.containerServicios {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.card-servicios {
    padding: 0 !important;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

.card1 {
    width: 30rem;
}

.card2 {
    width: 14.5rem;
}

.card3 {
    width: 14.5rem;
}

.card4 {
    width: 30rem;
}

.card5 {
    width: 30rem;
}


.img-generica-card-servicios {
    width: 100%;
    height: 250px;
    padding-bottom: 15px;
}

.texto-card-servicios {
    padding-left: 10%;
    text-align: left;
    height: 8rem;
}

.texto-card-servicios-titulo {
    color: #1F2F9B;
}

.slider-servicios {
    display: none;
}

/* Vista mobile */

@media only screen and (max-width: 768px) {
    .cards-servicios {
        display: none;
    }

    .slider-servicios {
        display: inline-block;
        max-width: 350px;
    }
}

/* Carousel servicios */

.card-servicios-slider {
    border-radius: 10px 10px 10px 10px !important;
    padding: 0 !important;
    width: 80% !important;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: none;
}

.img-servicios {
    width: 100% !important;
    height: 200px;
    margin: 0 !important
}

.texto-card-servicios-slider {
    padding-left: 5%;
    text-align: left;
}

/* Cards carousel servicios */

.servicios .servicios-item {
    box-sizing: content-box;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
    padding-top: 5%;
    /*min-height: 320px;*/ 
}

.servicios .servicios-item .servicios-img {
    width: 90px;
    height: 90px;
    margin: 0 auto; 
}

.servicios .servicios-item h6 {
    padding-top: 5%;
}

.servicios .servicios-item p {
    margin: 0 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 5%;
    /*border-radius: 6px;*/
}

.servicios .owl-nav, .servicios .owl-dots {
    margin-top: 5px;
    text-align: center; 
}

.servicios .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important; 
}

.servicios .owl-dot.active {
    background-color: #149ddd !important; 
}

.owl-carousel .owl-item img {
    display: inline-block;
}

@media (max-width: 767px) {
    .servicios {
        margin: 30px 10px; 
    }
}

/* Fin sección servicios */

/* Sección Que hacemos */

.containerQueHacemos {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
}

.textQueHacemos {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.imgQueHacemos {
    width: 70%;
}

.imgQueHacemos2 {
    width: 70%;
}

.imgQueHacemos3 {
    width: 70%;
}

.imgQueHacemos4 {
    width: 70%;
}

.titulo-parrafo-que-hacemos {
    color: #1F2F9B;
    text-decoration: underline;
    text-align: justify;
}

.titulo-parrafo-que-hacemos1 {
    color: #1F2F9B;
    text-decoration: underline;
    text-align: justify;
}

.titulo-parrafo-que-hacemos2 {
    color: #1F2F9B;
    text-decoration: underline;
    text-align: justify;
}

.titulo-parrafo-que-hacemos3 {
    color: #1F2F9B;
    text-decoration: underline;
    text-align: justify;
}

.justify {
    color: #5D5D5D;
    text-align: justify;
}

.justify1 {
    color: #5D5D5D;
    text-align: justify;
}

.justify2 {
    color: #5D5D5D;
    text-align: justify;
}

.justify3 {
    color: #5D5D5D;
    text-align: justify;
}

@media (max-width: 400px) {
    
    .textQueHacemos {
        margin-top: 3.5rem;
        margin-bottom: 2rem;
    }

    .imgQueHacemos {
        margin-top: 2rem;
        margin-right: 4rem;
    }

    .imgQueHacemos2 {
        margin-top: 2rem;
        position: absolute;
        top: 190rem;
        right: 4rem;
    }

    .imgQueHacemos3 {
        margin-top: 2rem;
        position: absolute;
        top: 225rem;
        right: 4rem;
    }

    .imgQueHacemos4 {
        position: absolute;
        top: 263rem;
        right: 4rem;
    }

    .titulo-parrafo-que-hacemos {
        margin-left: 2.5rem;
    }

    .titulo-parrafo-que-hacemos1 {
        margin-left: 5.5rem;
    }

    .titulo-parrafo-que-hacemos2 {
        position: absolute;
        top: 212rem;
        left: 4rem;
    }

    .justify2 {
        position: absolute;
        top: 214rem;
    }

    .titulo-parrafo-que-hacemos3 {
        position: absolute;
        top: 245rem;
        left: 5.5rem;
    }

    .justify3 {
        position: absolute;
        top: 247rem;
    }
}


/* Fin sección que hacemos */

/* Sección trabajos */

.containerTrabajos {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
}

.titulo-seccion-trabajos {
    color: #5D5D5D;
}

.subtitulo-superior-trabajos {
    color: #1F2F9B;
    font-weight: bold;
}

.botonesTrabajos {
    margin-bottom: 5%;
}

.btn-trabajos {
    margin-left: 5%;
    margin-right: 5%;
    color: #5D5D5D;
    background-color: #fff;
    border: none;
}

.btn-trabajos:hover {
    margin-left: 5%;
    margin-right: 5%;
    color: #1F2F9B;
    background-color: #fff;
    border: none;
    text-decoration: underline !important;
}

.noMostrar {
    display: none;
}

@media (max-width: 767px) {
    .containerTrabajos {
        padding-top: 72rem;
    }
}

/* Cards trabajos realizados */

.trabajos .trabajos-item {
    box-sizing: content-box;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
}

.trabajos .trabajos-item .trabajos-img {
    width: 100%;
    margin: 2%;
    height: 300px;
}

.trabajos-text {
    text-align: left;
    margin-left: 5%;
    color: #5D5D5D;
}

.trabajos .trabajos-item h6 {
    padding-top: 5%;
}

.trabajos .trabajos-item p {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 5%;
    border-radius: 6px;
}

.trabajos .owl-nav, .trabajos .owl-dots {
    margin-top: 5px;
    text-align: center; 
}

.trabajos .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important; 
}

.trabajos .owl-dot.active {
    background-color: #149ddd !important; 
}

.trabajos-carousel {
    margin-bottom: 30px; 
}

@media (max-width: 767px) {
    .trabajos {
        margin: 30px 10px; 
    }
}

/* Fin cards trabajos realizados */

/* Fin sección trabajos */

/* Sección tecnologías */

.containerTecnologias {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px; 
}

.containerTecnologiasImgs {
    display: flex;
    justify-content: space-around;
}

.img-tecnologias {
    width: 90px !important;
    height: 90px;
    margin: 0 !important
}

/* Cards tecnologias */

.tecnologias .tecnologias-item {
    box-sizing: content-box;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); 
    padding-top: 5%;
    /*min-height: 320px;*/ 
}

.tecnologias .tecnologias-item .tecnologias-img {
    width: 90px;
    height: 90px;
    margin: 0 auto; 
}

.tecnologias .tecnologias-item h6 {
    padding-top: 5%;
}

.tecnologias .tecnologias-item p {
    margin: 0 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 5%;
    /*border-radius: 6px;*/
}

.tecnologias .owl-nav, .tecnologias .owl-dots {
    margin-top: 5px;
    text-align: center; 
}

.tecnologias .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important; 
}

.tecnologias .owl-dot.active {
    background-color: #149ddd !important; 
}

.owl-carousel .owl-item img {
    display: inline-block;
}

@media (max-width: 767px) {
    .tecnologias {
        margin: 30px 10px; 
    }
    
}

/* Fin sección tecnologías */

/* Inicio Contáctanos */

.section-title-contactanos {
    color: #1F2F9B;
    font-weight: bold;
}

.parrafo-contactanos {
    color: #5D5D5D;
}

.parrafo-contactanos2 {
    color: #5D5D5D;
}

.section-padding {
    padding: 45px 0;
}

.find-widget {
    color: #5D5D5D;
    margin-top: 2rem;
}

.contacto {
    color: #5D5D5D;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    height: 3rem;
    border-radius: 10px;
}

.contacto p {
    margin-bottom: 0rem;
}

.linea2 {
    padding-left: 4%;
}

.telefono, .email {
    margin-top: 1rem !important;
}

#name {
    font-style: italic;
    padding: 2rem;
}

#email {
    font-style: italic;
    padding: 2rem;
}

#phone {
    font-style: italic;
    padding: 2rem;
}

#message {
    font-style: italic;
    padding: 2rem;
    height: 15rem;
}

.btn-enviar {
    background-color: #1F2F9B;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.584);
    border: 1px solid #00000033;
}

.btn-enviar:hover {
    color: #FFF;
}

.font {
    color: #5D5D5D;
    font-size: 20px;
    margin-right: 1%;
}

.font:hover {
    color: #5D5D5D;
}

.redes {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.redes .font {
    font-size: 200%;
}

@media (max-width: 767px) {
    .section-title-contactanos {
        margin-left: 2.7rem;
    }

    .section-padding {
        padding: 0 auto;
    }

    .form-control {
        height: 4rem;
        border-radius: 10px;
    }

    .font {
        font-size: 7px;
        margin-left: 15px;
    }

    .parrafo-contactanos {
        display: flex;
        justify-content: center;
    }
    .contacto-info {
        display: none;
    }

    #name {
        padding: 1rem;
    }
    
    #email {
        padding: 1rem;
    }
    
    #phone {
        padding: 1rem;
    }
    
    #message {
        padding: 1rem;
        height: 10rem;
    }
}

/* Fin Contactanos */

/* Inicio Footer */

ul {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
    list-style-type: none;
}

.social-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3.7rem;
}
/* para los íconos */
/* .font {
    margin-left: 1rem;
} */

.logo-footer {
    margin-top: 2rem;
    width: 20rem;
}

.footer-section {
    background: #FAFAFA;
    position: relative;
}

.items-info-foter {
    padding-left: 4%;
}

.info-footer p {
    margin-bottom: 0rem;
    color: #5D5D5D;
}

.estamos-footer {
    margin-top: 1rem;
}



/* Final Footer */